body {
    font-family: sans;
}
#top {
    width: 1000px;
    height: 120px;
}
#header-main {
    width: 67%;
    float: left;
}
#name {
    font-size: 72px;
}
#header-sub {
    width: 33%;
    float: left;
    display: table;
}
.header-sub-line {
    display: table-row;
    text-align: right;
}
#summary {
    width: 1000px;
    height: 100px;
}
#summary div {
    width: 500px;
    height: 90px;
    margin: 0 auto 0 auto;
    display: table;
}
#viz {
    page-break-after: always;
    height: 850px;
}
#timeline-div {
    float: left;
}
#timeline {
    width: 500px;
    height: 800px;
}
#skills {
    width: 500px;
    height: 800px;
    float: left;
    text-align: right;
}
.timeline-emp {
    fill: #cef;
    stroke: black;
    stroke-width: 1;
}
.timeline-edu {
    fill: #fff;
    stroke: black;
    stroke-width: 2;
}
.timeline-title {
    font-weight: bold;
    font-size: 10px;
}
.timeline-title-sm {
    font-weight: bold;
    font-size: 8px;
}
.timeline-title-lg {
    font-weight: bold;
    font-size: 16px;
}
.timeline-subtitle {
    font-size: 8px;
}
.timeline-subtitle-sm {
    font-size: 6px;
}
.timeline-subtitle-lg {
    font-size: 14px;
}
.skill {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 6px;
    margin-left: 10px;
    padding: 4px;
    background-color: #dfd;
    -webkit-print-color-adjust: exact;
}
.skill1 {
    font-size: 10px;
    font-weight: 100;
    height: 14px;
}
.skill2 {
    font-size: 12px;
    font-weight: 300;
    height: 16px;
}
.skill3 {
    font-size: 16px;
    font-weight: 500;
    height: 20px;
}
.skill4 {
    font-size: 20px;
    font-weight: 700;
    height: 24px;
}
.skill5 {
    font-size: 28px;
    font-weight: 900;
    height: 32px;
}
.subtle {
    font-weight: lighter;
}
h2 {
    margin: 40 0 10 0;
}
h4 {
    margin: 20 0 5 0;
}
.experienceDetails p {
    margin: 0 20 0 20;
}
footer {
    margin-top: 50px;
    font-size: 18;
}
.vizTitle {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}
