body {
    font-family: sans;
}
.section {
    width: 1000px;
}
#header-main {
    width: 67%;
    float: left;
}
#name {
    font-size: 44px;
}
#header-sub {
    width: 33%;
    float: left;
    display: table;
}
.header-sub-line {
    display: table-row;
    text-align: right;
}
#viz {
    page-break-after: always;
}
#timeline-div {
    float: left;
}
#timeline {
    width: 500px;
    height: 800px;
}
#skills-div {
    float: left;
}
#skills {
    width: 500px;
    height: 800px;
    float: left;
    text-align: right;

}
.timeline-emp {
    fill: #adf;
    stroke: black;
    stroke-width: 1;
}
.timeline-edu {
    fill: #fff;
    stroke: black;
    stroke-width: 2;
}
.timeline-title {
    font-weight: bold;
    font-size: 10px;
}
.timeline-title-sm {
    font-weight: bold;
    font-size: 8px;
}
.timeline-title-lg {
    font-weight: bold;
    font-size: 16px;
}
.timeline-subtitle {
    font-size: 8px;
}
.timeline-subtitle-sm {
    font-size: 6px;
}
.timeline-subtitle-lg {
    font-size: 14px;
}
.skill {
    border-bottom-style: solid;
    border-right-style: solid;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 4px;
}
.skill1 {
    font-size: 10px;
    font-weight: 100;
    height: 14px;
}
.skill2 {
    font-size: 12px;
    font-weight: 300;
    height: 16px;
}
.skill3 {
    font-size: 16px;
    font-weight: 500;
    height: 20px;
}
.skill4 {
    font-size: 20px;
    font-weight: 700;
    height: 24px;
}
.skill5 {
    font-size: 28px;
    font-weight: 900;
    height: 32px;
}
